body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
body.fade-in {
    opacity: 1;
  }
  body.fade-out {
    opacity: 0;
  }
.Logo{
    margin: 40px 0;
    display: flex;
}
.logo-text{
    margin-left: 32%;
    margin-top: 20px;
   
}
.sun{
    margin-left: 167px;
    margin-top: 10px;
}
.logo-text-one{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:20px ;
    font-weight: 700;
    margin-right: 30px;
}
.logo-button-one{
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.logo-button{
    background-color:black;
    margin-left: 10px;
    border: 1px solid white;
    height: 27px;
    width: 120px;
    border-radius: 40px;
 
    padding: 18px 45px;
    
}
.container{
    margin: 0 30vh;
}
.iphon-glaw-text{
    margin-top: 100px;
    font-size: 80px;
    font-weight: 629;
    color:white;
}
.iphone-telegram{
    color:#41A4DF;
}
.iphon-podglaw-text{
    margin-top: -40px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.iphon-button{
    background-color:#41A4DF;


    height: 27px;
    width: 120px;
    border-radius: 40px;
 
    padding: 18px 45px;
    margin-top: 32px;
     
}
.iphon-button-one{
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.iphon-karts-one{
    margin-top: 56px;
}
.iphon-posled-text{
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    color: white;
}
.Iphone{
    display: flex;
}
.iphone-img-one{
    margin-left: 17vh;
}
.perep-fon-one{
    height: 880px;
    width: 100%;
    background-color:#232328;
    overflow: hidden;
    margin-top: 120px;

    

}

.perep-cub{
    width: 488px;
    height: 488px;
    border-radius: 40px;
    background: linear-gradient(340.03deg, #FAACA8 8.42%, #DDD6F3 91.45%);
    margin-top: 196px;
}
.perep-cub-img{
    padding-top: 136px;
    padding-left: 47px;

}
.perep-cub-img-one{
  padding-left: 47px;
}
.perep-stroka{
    display: flex;
}
.perep-text-one{
    color: #41A4DF;
    font-weight: 650;
    font-size: 56px;
}
.perep-podtext{
    color: white;
}
.perep-glaw-text{
    margin-top: 150px;
    margin-left: 122px;
}
.perep-text-two{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
}
.perep-button{
background-color: #41A4DF;
height: 58px;
width: 213px;
border-radius: 90px;
overflow: hidden;

}
.perep-button-one{
    color: white;
    text-decoration: none;
    padding-left: 39px;
    font-size: 18px;
    font-weight: 700;
    padding-top: -20px;
}

.button{
    background-color: #41A4DF;
    height: 25px;
    width: 140px;
    border-radius: 40px;
 
    padding: 18px 45px;
    margin-top: 32px;
}
.button-glaw{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;

}
.perekl-one{
    background-color: #41A4DF;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 185px;
    margin-top: 12px;
}
.perekl-two{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 185px;
    margin-top: 12px;
}
.perekl-tre{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 185px;
    margin-top: 12px;
}
.pp{
    color: white;
    margin-left: 180px;
    margin-top: 236px;

}
.pp6{
    color: white;
    margin-left: 180px;
    margin-top: 12px;

}
.q1{
    height: 880px;
    width: 100%;
    background-color:#232328;
    overflow: hidden;
    margin-top: 120px;
    transition: 1s;

}


.q2{
    width: 488px;
    height: 488px;
    border-radius: 40px;
    background: linear-gradient(206.52deg, #FCB69F 6.91%, #FFECD2 92.45%);

    margin-top: 196px;
}
.q3{
    padding-top: 136px;
    padding-left: 47px;

}
.q4{
  padding-left: 47px;
}
.perep-stroka{
    display: flex;
}
.q6{
    color: #41A4DF;
    font-weight: 650;
    font-size: 56px;
}
.perep-podtext{
    color: white;
}
.q5{
    margin-top: 150px;
    margin-left: 122px;
}
.q7{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
}
.perep-button{
background-color: #41A4DF;
height: 58px;
width: 213px;
border-radius: 90px;
overflow: hidden;

}
.perep-button-one{
    color: white;
    text-decoration: none;
    padding-left: 39px;
    font-size: 18px;
    font-weight: 700;
    padding-top: -20px;
}


.perekl-one1{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 204px;
    margin-top: 12px;
}
.perekl-two1{
    background-color: #41A4DF;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 204px;
    margin-top: 12px;
}
.perekl-tre1{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 204px;
    margin-top: 12px;
}
.pp1{
    color: white;
    margin-left: 200px;
    margin-top: 236px;

}
.pp10{
    color: white;
    margin-left: 200px;
    margin-top: 12px;

}


.perep-fonone{
    height: 880px;
    width: 100%;
    background-color:#232328;
    overflow: hidden;
    margin-top: 120px;
    transition: 1s;

}


.perepcub{
    width: 488px;
    height: 488px;
    border-radius: 40px;
    background: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);


    margin-top: 196px;
}
.perepcubimg{
    padding-top: 30px;
    padding-left: 16px;
    margin-bottom: -43px;

}

.perepstroka{
    display: flex;
}
.pereptextone{
    color: #41A4DF;
    font-weight: 650;
    font-size: 56px;
}
.pereppodtext{
    color: white;
}
.perepglawtext{
    margin-top: 150px;
    margin-left: 122px;
}
.pereptexttwo{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
}
.perepbutton{
background-color: #41A4DF;
height: 58px;
width: 213px;
border-radius: 90px;
overflow: hidden;

}
.perepbuttonone{
    color: white;
    text-decoration: none;
    padding-left: 39px;
    font-size: 18px;
    font-weight: 700;
    padding-top: -20px;
}
.button{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
   
}

.pereklone{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 166px;
    margin-top: 12px;
}
.perekltwo{
    background-color: #FFFFFF3D;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 166px;
    margin-top: 12px;
}
.perekltre{
    background-color: #41A4DF;
    width: 4px;
    height: 108.67px;
    border-radius: 90px;
    margin-left: 166px;
    margin-top: 12px;
}
.pp2{
    color: white;
    margin-left: 161px;
    margin-top: 236px;

}
.pp3{
    color: white;
    margin-left: 161px;
    margin-top: 12px;

}

.buttonone{
    text-decoration: none;
    color: white;
}
.perepcubimgtwo{
    padding-left: 221px;
    margin-top: -880px;
  }
  .perepcubimgtre{
     margin-top: -35px;
     margin-left: 16px;
     overflow: hidden;
     margin-bottom: -235px;
  }
.crypto{
    margin-top: 120px;


}
.Accept{
    background-color:#18181D;
    width: 1200px;
    height: 345px;
    border-radius: 40px;
    overflow: hidden;
}
.accept-glaw{
    font-weight: 629;
    font-size: 42px;
    margin-top: 42px;
    margin-left: 66px;
    color: white;
}
.accept-glaw1{
    color: #ffffffcc;
    font-size: 20px;
    font-weight: 500;
    margin-top: -30px;
    margin-left: 66px;
}
.accept-podtext{
    color:#41A4DF;
}
.accept-img{
   margin-top: 42px;
   margin-left: 66px;
}
.pash{
    margin-right: 30px;
}
.start1{
    width: 488px;
    height: 366px;
    background-color: #18181D;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 40px;
}
.start-button{
    margin-top: 42px;
    margin-left: 56px;
}
.start-text{
    font-size: 42px;
    font-weight: 629;
    margin-top: 16px;
    margin-left: 56px;
    color: white;
}
.start-podtext{
    margin-top: 20px;
    margin-left: 56px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFFCC;
}
.real-time{
    width: 488px;
    height: 366px;
    background-color: #18181D;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 32px;
}
.real-time-button{
    margin-top: 42px;
    margin-left: 56px;
}
.real-time-text{
    font-size: 42px;
    font-weight: 629;
    margin-top: 20px;
    margin-left: 56px;
    color: white;
}
.real-time-podtext{
    font-size: 20px;
    font-weight: 400;
    margin-left: 56px;
    margin-top: 20px;
    color: #FFFFFFCC;
}
.Bco{
    display: flex;
}
.payment{
    background-color: #18181D;
    width: 692px;
    height: 748px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 40px;
    overflow: hidden;

}
.payment-img{
    margin-top: 42px;
    margin-left: 56px;
}
.payment-text{
   font-size: 42px;
   font-weight: 629;
   margin-left: 56px;
   margin-top: 20px;
   color: white;
}
.payment-podtext{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 56px;
    color: #FFFFFFCC;
}
.Pochti-Bco{
    display: flex;
}
.send{
    background-color: #18181D;
    width: 692px;
    height: 510px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 40px;
}
.send-img{
    margin-top: 0px;
    margin-left: 42px;
}
.send-text{
   font-size: 42px;
   font-weight: 629;
   margin-left: 56px;
   margin-top: 20px;
   color: white;
}
.send-podtext{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 56px;
    color:#FFFFFFCC;
}
.anonymoys{
    background-color: #18181D;
    width: 488px;
    height: 510px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 40px;
    margin-left: 20px;
}
.anonymous-img{
    margin-top: 42px;
    margin-left: 42px;
}
.anonymoues-text{
   font-size: 42px;
   font-weight: 629;
   margin-left: 56px;
   margin-top: 20px;
   color: white;
}
.anonymoues-podtext{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 56px;
    color: #FFFFFFCC;
}
.Crupto-Pay{
   width: 100%;
   height: 1886px;
   background-color: #000000;
   margin-top: 140px;
   overflow: hidden;
}
.crupto-text-glaw{
    font-size: 56px;
    font-weight: 629;
    margin-left: 232.5px;
    color: white;
}
.app-text{
    font-size: 42px;
    font-weight: 629;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
}
.app-sp{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    color: #FFFFFFCC;
}
.app-spisok{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    color: #FFFFFFCC;
}
.app-kart{
    width: 590px;
    height: 488px;
    
    border-radius: 40px;
    background: linear-gradient(297.24deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
    margin-left: 150px;

}
.appp{
    display: flex;
}
.app1{
    margin-top: 117px;
    margin-left: 99px;
}
.app2{
    margin-left: 99px;
}
.app{
    margin-top: 100px;
}




.app-text1{
    font-size: 42px;
    font-weight: 629;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
}
.app-sp1{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 12px;
    color: #FFFFFFCC;
}
.app-spisok1{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    color: #FFFFFFCC;
}
.app-kart1{
    width: 590px;
    height: 488px;
    
    border-radius: 40px;
    background: linear-gradient(206.52deg, #FCB69F 6.91%, #FFECD2 92.45%);

    margin-left: 0px;
    margin-top: 40px;

}
.appp1{
    display: flex;
}
.app11{
    margin-top: 200px;
    margin-left: 99px;
}

.app1{
    margin-top: 100px;
}
.xz{
   

font-size: 20px;
font-weight: 600;

color: #FFFFFFCC;
;
text-align: left;
margin-left: 10px;
margin-top: -25px;

}

.app-kart2{
    width: 590px;
    height: 488px;
    
    border-radius: 40px;
    background: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);


    margin-left: 140px;
    margin-top: 40px;

}
.app-sp2{
    
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 12px;
    color: #FFFFFFCC;
}
.app12{
    margin-top: 145px;
    margin-left: 93.3px;
}
.api-spisk{
    width: 1200px;
height: 550px;


border-radius: 40px;
background: linear-gradient(233.23deg, #9FCCFA -20.48%, #0974F1 97.38%);
margin-top: 120px;
overflow: hidden;
margin-left: 70px;

}
.api-text{
    font-size: 56px;
    font-weight: 629;
    margin-top: 147px;
    color: white;
    margin-left: 80px;
}
.api-podtext{
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    color: white;
    margin-left: 80px;
}
.api-button{
    width: 213px;
height: 58px;



border-radius: 90px;
border: 1px solid rgb(255, 255, 255);
border-color: white;
overflow: hidden;
margin-left: 80px;
margin-top: 32px;


}
.api-button1{
    
   
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 42px;
    
}
.api-img{
    margin-left:23px ;
    height: 100%;
}
.api-fotka{
    display: flex;
}
.ppp{
    height: 550px;
}
.button222{
    background-color: #0974F1 93%;
    height: 25px;
    width: 140px;
    border-radius: 40px;
 
    padding: 18px 45px;
   
    border: 2px solid rgb(255, 255, 255);
    margin-left: 80px;
    margin-top: 32px;
}
.button-glaw222{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;

}
.join-text{

font-size: 56px;
font-weight: 900;

text-align: center;
padding-top: 24px;
color: white;

}
.join-fon{
    margin-top: 120px;
    background-color: rgb(0, 0, 0);
    border-radius:40px;
    width: 100%;
    height: 690px;
    
    position: absolute;
    top: 6340px;
    left: 0;
    z-index: 2;
    margin-bottom: -5px;

}
.join-podtext{


font-size: 20px;
font-weight: 500;
line-height: 24px;

text-align: center;
color: #FFFFFFCC;
}
.join-karts{
    display: flex;
   margin-left: 184px;
   margin-top: 50px;
}
.ff{
    margin-right: 104px;
}
.mma{
    font-size: 20px;
    font-weight: 600;
    margin-left: -15px;
    color: #FFFFFFCC;
}
.mma1{
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
    color:#FFFFFFCC
}
.mma2{
    font-size: 20px;
    font-weight: 600;
    margin-left: -10px;
    color: #FFFFFFCC;
}
.mma3{
    font-size: 20px;
    font-weight: 600;
    margin-left: -8px;
    color: #FFFFFFCC;
}
.mma4{
    font-size: 20px;
    font-weight: 600;
    margin-left: -8px;
    color: #FFFFFFCC;
}
.button2222{
    background-color: #41A4DF;
    height: 25px;
    width: 153px;
    border-radius: 40px;
 
    padding: 20px 45px;
   
 
    margin-left: 550.5px;
    margin-top: 32px;
}
.button-glaw2222{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;


}
.footer{
    width: 100%; 
height: 370px;
background-color: #232328;
margin-top: 658px;

    position: relative;
    z-index: 1;
overflow: hidden;

}
.footer-1{
    padding-top: 200px;
}
.footer-logo-podtext{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.footer-2{
    display: flex;
    margin-left: 270px;
}
.footer2-1{
   padding-top: 205px;
    color: white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
}
.footer-spisk{
    display: flex;
}
.footer3{
    background-color: #232328;
    height: 20px;
    width: 110px;
    border-radius: 40px;
    border: 2px solid #FFFFFF99;
    padding: 20px 65px;
   
 
    margin-left: 200px;
  
    margin-top: 200px;
}
.footer3-1{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.oh-no{
    margin-left: 50px;
}
.h{
    margin-left: 50px;
}

